.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}
